@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald-Light";
    src: url("fonts/Oswald-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Sentient";
    src: url("fonts/Sentient-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
}

header {
    background-color: white;
    border-bottom: 2px solid #ccc;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 25px 35px;
    text-decoration: none;
    font-family: "Oswald";
}

nav li a:hover:not(.active) {
    background-color: #a7cab1;
}

nav .active {
    background-color: #033F63;
    color: white;
}

main {
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

h1 {
    color: #556B2F;
    font-size: 2em;
    font-family: "Oswald";
}

.HomeSec {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.HomeCard {
    background: white;
    padding: 20px;
    width: 300px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.HomeCard h2, .AboutCard h2 {
    font-size: 1.2em;
    color: #033F63;
    font-family: "Sentient";
}

.HomeCard p, .AboutCard p {
    font-size: 1em;
    color: #606C38;
    font-family: "Oswald-Light";
}

.HomeImage {
    width: 100%;
    height: 150px;
    background-color: #ddd;
    margin-bottom: 10px;
}

footer {
    position: fixed;
    background-color: #033F63;
    padding: 15px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li {
    display: inline;
}

footer ul li a {
    font-family: "Oswald-Light";
    color: white;
    text-decoration: none;
}

.AboutSec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.AboutCard {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.right-side {
    height: 250px;
    background-color: #ddd;
}
