@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald-Light";
    src: url("fonts/Oswald-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Sentient";
    src: url("fonts/Sentient-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/tire_print.png);
    background-repeat: no-repeat;
    background-position: 30% center;
    background-size: contain;
    opacity: 0.1;
    z-index: -1;
}

header {
    background-color: white;
    padding: 15px 0;
    border-bottom: 2px solid #ccc;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-family: "Oswald";
    color: #033F63;
    text-decoration: none;
    padding: 10px 15px;
    /* transition: background 0.3s ease, color 0.3s ease; */
}

nav ul li a.active {
    background-color: #033F63;
    color: white;
}

main {
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

h1 {
    color: #556B2F;
    font-size: 2em;
    font-family: "Oswald";

}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 300px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1.2em;
    color: #033F63;
    font-family: "Sentient";
}

.card p {
    font-size: 1em;
    color: #606C38;
    font-family: "Oswald-Light";
}

.card-image {
    width: 100%;
    height: 150px;
    background-color: #ddd;
    margin-bottom: 10px;
}

footer {
    background-color: #033F63;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li {
    display: inline;
}

footer ul li a {
    font-family: "Oswald-Light";
    color: white;
    text-decoration: none;
}